*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
	font-weight: 300;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
[class *="col-"]{
	float: left;
}
.col-md-3{
	width: 25%;
}
.col-md-6{
	width: 50%;
}
.row::after{
	content: "";
	clear: both;
	display: block;
}
.logo{
	margin-top: 8px;
	outline: none;
}
.header{
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}
.menu li{
	display: inline-block;
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
	position: relative;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu a{
	display: block;
	height: 50px;
	text-align:center;
	line-height: 50px;
	text-decoration: none;
	font-size: 21px;
	color: rgb( 44, 113, 184 );
}
.menu a:hover {
	background-color: #2c71b8;
	color: white;
}
.submenu{
	position: absolute;
	top: 100%;
	display: none;
	width: 286px;			
}
.menu li:hover .submenu{
	display: block;
}
.submenu li a{
	display: block;
	width: 286px;
	float: left;
}
.box div{
	float: left;
}
.box{
	width: 300px;
}
.search {
	width: 200px;
	height: 40px;
	border: 1px solid #2c71b8;
	background: none;
	margin-left: 30px;
	margin-top: 5px;

}
.search input{
	width: 140px;
	height: 40px;
	background: none;
	border: none;
	margin-left: 19px;
	outline: none;
	line-height: 40px;
	font-size: 21px;
 	font-family: "Roboto";
   	color: rgb( 44, 113, 184 );
  	text-align: left;
  	font-weight: 300;
  	float: left;
}
.search input::-webkit-input-placeholder {
 	font-size: 21px;
  	font-family: "Roboto";
 	color: rgb( 44, 113, 184 );
 	text-align: left;
 	font-weight: 300;
}
.search input:focus::-webkit-input-placeholder {
	color: transparent;
}
.search button{
	width: 30px;
	height: 30px;
	margin: 4px;
	background-color: rgb( 44, 113, 184 );
	border: none;
	background-image: url(images/search.png);
	background-repeat: no-repeat;
	background-position: center center;
	outline: none;
}
.cart{
	width: 40px;
	height: 40px;
	background-color: white;
	background-image: url(images/cart.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 30px;
	margin-top: 4px;
	float: left;
	position: relative;
}
.cart_number{
	width: 20px;
	height: 20px;
	background-color: rgb( 44, 113, 184 );
	position: absolute;
	top: -10px;
	left: -10px;
	border-radius: 20px 20px;
	text-align: center;
	line-height: 20px;
	color: white;
	font-size: 12px;
  	font-family: "Roboto";
}
.fa-chevron-down{
	font-size: 10px;
}
